#main-sobre {
    /*background-image: url(../assets/contato-img.jpg);
*/
}

.text-center { /* NOME DE .content-box no styles.css*/
    padding-top: 80px;
    width: 568px;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#contato a {
color: black;
position: unset;
left: unset;
bottom: unset;
text-align: center;
font-size: 30px;
}

#contato #button {
    padding-bottom: 80px;
}

/*Responsivo desativado*/
#cell-mob {
    display: none;
}

#contato-mob {
    display: none;
}





/*Footer responsivo sem elementos*/
@media (max-width: 425px) {
.fale-conosco {
    display: none;
}

.infos-direita-footer {
    padding-top: 0;
}

#main img {
    display: none;
}
#main h1 {
    display: block;
    color: black;
    margin-top: 66px;
    text-align: center;
    left: unset;
    bottom: unset;
    position: unset;
}


#contato {
    display: none;
}

.double-text-vertical:nth-child(1) br {
    display: none;
}

/*Celulares no main*/

.double-text-vertical {
    align-self: flex-start;
}

#cell-mob {
    display: block;
}

/*Contato com ícones*/

#contato-mob {
    display: block;
    flex-direction: column;
    opacity: 100%;
    margin: 0 35px 20px 35px;
    height: auto;
}
#contato-mob p {
    display: block;
}
#contato-mob .icon-btn {
    margin-right: 11px;
}

#contato-mob #icon-email {
    height: 18px;
}













}