#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: auto;
    height: 382px;
    padding: 60px 114px;
  }
  
  .textos-img-footer {
    display: flex;
    flex-direction: row;
  }
  
  #footer p {
    color: aliceblue;
  }
  
  .paginas-footer a {
    position: unset;
    text-decoration: unset;
    padding-right: 35px;
    font-size: 24px; 
  }
  
  .icones-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  
  .icones-footer img {
    padding: 25px 14px 0 0;
  }
  
  .logo-img-footer img {
    width: 150px;
    height: 150px;
    margin: 131px 76px 130px 0px;
  }
  
  .celulares {
    padding-top: 85px;
  }
  
/*media queries*/

@media (max-width: 1300px) {
  .textos-img-footer {
    flex-direction: column;
  }
}



@media (max-width: 413px) {
  .logo-img-footer img {
    width: 200px;
  }

  .text-colaborador img{
    width: 10px;
  }
  
  a img {
  background-color: red;
  color: brown;
  }
  
}