#parceiros .colaboradores {
    display: block;
}

#parceiros .colaboradores {
    align-self: center;
    margin-top: 66px;

}
#parceiros .colaboradores h3 {
    color: black;
}

/*Mobile #parceiros-mob*/

#parceiros-mob {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 100%;
    margin: 0 35px 20px 35px;
    height: auto;
   /* justify-content: flex-start;*/
}
#parceiros-mob p {
    display: block;
}
#parceiros-mob .icon-btn {
    margin: 0;
}

#parceiros-mob #icon-email {
    height: 18px;
}

#parceiros-mob p>span {
    word-spacing: 15px;
}
#parceiros-mob .logo-colaborador {
    width: 30px;
    height: 30px;
}

#grupo-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 134px;
}


.logo-colaborador {
   /* margin-right: 15px;*/
}

.colaboradores-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-title-block-center {
    align-items: center;

}

#parceiros-mob .icon-btn {
    margin: 0;
}

#grupo-icon .icon-btn {
  /*  margin-right: 11px;*/
}


/*|||LOGO 
COLABORADORES|||*/
#a-maquetaria-3d {
    background-image: url(/assets/logo-a-maquetaria-3d.png);
    background-size: contain;
    background-repeat: no-repeat;
} 
#ericoki {
   /* background-image: url(/assets/Logo-preto.png);*/
    background-size: contain;
    background-repeat: no-repeat;
} 
#fbianchi {
   /* background-image: url(/assets/Logo-preto.png);*/
    background-size: contain;
    background-repeat: no-repeat;
} 
#lj {
    background-image: url(/assets/logo-lj.png);
    background-size: contain;
    background-repeat: no-repeat;
} 

/*
.icon-btn {
    width: 17px;
    margin-right: unset;
    height: 21px;
  }
  
  #icon-face {
    background-image: url(/assets/Facebook_cinza.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }*/