@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap');

/* ||TABLE OF CONTENTS||

0. menu

1. main img
    1. style
    2. content box center
    3. img principal

2. imgs
    1.main img
    2.img esquerda
    3.cards

3. components
    1.footer 
    2.buttons underlined

    
#menu li a {
    display: block;
    text-align: center;
    width: 90px;
    margin: 7px;
    font-size: 13px;
}

#menu li:nth-child(1) a {
    vertical-align: middle;
    font-size: 17px;
    /*line-height: 75px;*//*
}
.menu-section.on {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
  padding-top: 152px;
*/

*/



/* || typography || */
/* |style| */
/* |img principal| */
* {
  margin:0;
  padding: 0;
  box-sizing:border-box
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

.slideshow-container img {
  width: 100%;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  height: 100vh;
  object-fit: cover;
  object-position: top;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 46%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
 /* background-color: rgba(0,0,0,0.8);*/
 color: black;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 35px;
  margin: 0 2px;
  background-image: url(../assets/elipse-vazia.svg);
  /*border-radius: 50%;*/
  /*display: inline-block;*/
  transition: 0.6s ease;
  background-repeat: no-repeat;
}

.active , .dot:hover {
  background-image: url(../assets/elipse-cheia.svg);
}

.grupo-dots {
  display: flex;
  flex-direction: row;
  position: absolute;
  /*text-align: center;*/
  top: 88%;
  justify-items: center;
  width: 155px;
  left: 50%;
  right: 50%;
  transform: translate(-50%,-50%);
}

.grupo-dots2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#home-main-img a {
  bottom: unset;
  left: unset;
  appearance: unset;
  text-decoration: unset;
  font-family: unset;
}


/* || menu || */


/* || main img || */

#main-home {
  /*background-image: url(../assets/home-img1.svg);*/
}

/* || quem somos || */

#quem-somos {
  margin-bottom: 80px;
}

#quem-somos .left-title-text { /* O valor desse padding soma ao do que tem no p*/
  /*padding-bottom: 50px;*/
}

#projetos {
  margin: 80px 0 0 0;
  position: relative;
}

#projetos>img {
  width: 100%;
  height: 1334px;
  max-height: 398px;
  object-fit: cover;
  /*object-position: top;*/
}



#projetos h1 {
  position: absolute;
  left: 114px;
  top: 50px;
  width: 287px;
  color: white;
  text-align: left;
  margin: 0 0 0 0;
}

a, a:visited {
  font-family: 'Poppins';
  position: absolute;
  bottom: 50px;
  left: 114px;
  color: white;
  font-size: 30px;
}


#home-imgs-mob {
  display: none;
}

#projetos-mob {
    display: none;
  }


/*|||MOBILE|||*/


@media (max-width: 594px) {
  #projetos img {
    max-height: 100vh;
  }

  #projetos-text h1{
    left: 10px;
  }

  #projetos a {
    left: 10px;
  }

  .mySlides img {
    height: 70vh;
  }
}


@media (max-width: 425px) {

#home-main-img {
  display: none;
}

#home-imgs-mob {
  display: block;
}

.flickity-button {
  display: block;
}


/*|||Nova versão sliders|||*/

/*Botoes prev next*/
/* Next & previous buttons */
.prev, .next {
    cursor: unset;
    position: absolute;
    top: 78%;
    width: 8px;
    height: 44px;
    border-radius: 50%;
    padding: unset;
    margin-top: unset;
    color: white;
    font-weight: unset;
    font-size: unset;
    user-select: none;
  }
  
  /* Position the "next button" to the right *//*
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
   /* background-color: rgba(0,0,0,0.8);*/
   color: white;
  }

  .flickity-prev-next-button {
      top: 91%;
  }



  
#proj-imgs {
    display: none;
  }
  
  #projetos-mob {
    display: block;
  }
  
  .flickity-button {
    display: block;
  }
  
  .flickity-page-dots {
    display: none;
  }
  
#projetos-mob a, a:visited {
    bottom: unset;
    left: unset;
}

/*|fontes e margens delas|*/

#projetos-mob h1 {
    margin: 0 0 20px 0;
}


  
  /*legenda*/
  
  #home-imgs-mob .legenda {
    display: flex;
  }
  
  .legenda {
    padding: 10px 35px 0 35px;
    margin: unset;
    position: relative;
   /* bottom: 0;*/
    z-index: 11;
   /* background-color: white;*/
    flex-direction: row;
    height: 19vw;
    justify-content: unset;
    opacity: 75%;
  }
  .legenda p{
    margin: 0;
    font-size: 10px;
    font-family: 'Gayathri', sans-serif;
    line-height: 17px;
  }
  .legenda>p{
    width: 50%;
  }
  
  
  
  .legenda  p span{
    margin-right: 10px;
  }
  
  .legenda-local-tipo {
      margin-right: 20px;
  }

  
  /*margem projetos-mob*/
  #projetos-mob {
    margin-top: 90px;
  }
  
  
  
  /*||home-imgs-mob||*/
  
  /* external css: flickity.css */
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
    background: #EEE;
    margin: 0 35px 0 35px;
  }
  
  .gallery-cell {
    width: 100%;
    height: 84vw;
    background: white;
    counter-increment: gallery-cell;
  }
  .gallery-cell img{
    width: 100%;
    height: auto;
  }
  



/* cell number *//*
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

*/






hr {
  display: none;
}

.text-title-block-center {
  padding: unset;
}

#textblock-mob p {
  padding: 0;
}

.double-img-collum img {
  display: none;
}

.legenda {
  display: none;
}

#quem-somos {
margin: 0 0 0 0;
}

#serviços {
  display: none;
}

#projetos {
  display: none;
}


#button {
  padding: unset;
  margin-right: 35px;
}

/*||Grupo de imagens por último||*/

#proj-galeria img {
    width: 100%;
    height: auto;
    padding: 0 35px 30px 35px;
}

}



@media (max-width: 336px) { 
.flickity-prev-next-button { /*setas prev e next*/
    top: 87%;
}
}
@media (max-width: 293px) { 
.flickity-prev-next-button { /*setas prev e next*/
    top: 80%;
}
}
@media (max-width: 254px) { 
.flickity-prev-next-button { /*setas prev e next*/
    top: 73%;
}
}