* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#main-sobre {
    /*background-image: url(../assets/sobre-img1.jpg);*/

}


.text-title-horizontal {
    display: flex;
    flex-direction: row;
    width: 1097px;
    padding-bottom: 125px;
}


.double-text-title-horizontal {
    display: flex;
    flex-direction: column;
}

.text-title-img-horizontal h1 {
    text-align: left;
    width: 784px;
    margin: unset
}

.text-title-img-horizontal{
    display: flex;
    flex-direction: row;
}

.text-title-img-horizontal img {
    align-self: flex-start;
}

#sobre {
    padding-bottom:80px;
}

#sobre .content-box>p {
    padding: 125px 0 125px 0;
}

.double-img-collum {
    padding-top: 30px;
}

.double-img-collum-text {
    display: flex;
    flex-direction: column;
    width: 568px;
    padding-top: 60px;
}

.double-img-collum-text p {
    padding-bottom: 33px;
}

.content-box>p {
    padding-bottom: 125px;
}

.text-center { /* NOME DE .content-box no styles.css*/
    padding-top: 80px;
    max-width: 568px;
    align-self: center;
}

#serviços {
    padding-bottom: 80px;
}



#arquitetos {
    padding-bottom: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 60px;
}


#arquitetos h1 {
    text-align: unset;
    margin-bottom: 0;
}

#arquitetos p{
    width: unset;
    font-size: 16px;
}

#arquitetos h3 {
    color: black;
    padding-bottom: 25px;
} 

#arquitetos h3 span {
    color: black;
    font-family: 'Gayathri', sans-serif;
    padding-bottom: 8px;
    opacity: 65%;
    font-size: 16px;
} 

#arquitetos hr {
    width: 193px;
    height: 3px;
}


.formacao-arq {
    padding-top: 25px;
}

.card-arquiteto {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;                /*Ver se dá certo*/
    width: 193px;
    height: auto;
}

.card-arquiteto p {
    padding-top: 30px;
}
.card-arquiteto img {
    /*object-fit: cover;*/         /*No lugar do   flex-shrink: 0;*/ 
    
}

.title-arquitetos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 48%;
}

@media (max-width: 953px) {
    #arquitetos {
        flex-direction: column;
        align-items: center;
    }

    #arquitetos>h1 {
        text-align: center;
    }

    .title-arquitetos {
        width: 100%;
        flex-wrap: wrap;

    }

    .card-arquiteto {
        margin: 10px;
    }
}

@media (max-width: 544px) {
    .title-arquitetos {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 425px) {
    /*Serviços Mobile*/
    /* external css: flickity.css */

/* external css: flickity.css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
   /* background: #EEE;*/
  }
  
  .gallery-cell {
    width: 66%;
    height: 311px;
    margin-right: 10px;
    /*background: #8C8;*/
    box-shadow: 1px 10px 10px #DBDBDB ;
    counter-increment: gallery-cell;

    text-align: -webkit-center;
  }
  .gallery-cell p{
    text-align: center;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
  /*  line-height: 200px;
    font-size: 80px;*/
    color: white;
  }

  /*tamanho das imagens*/

  .gallery-cell img {
    height: 140px;
  } 

  /*margin em título menor*/
  #cell-h2-menor h2 {
    margin-bottom: 20px;
    font-family: 'Gayathri', sans-serif;
}

  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
    display: none;
  }

    /* ---- page dots ---- */

    .flickity-page-dots {
        display: none;
    }
  
    /*Margin do serviços-mob*/
    #serviços-mob {
        margin-bottom: 45px;
        height: 330px;
    }


    /*sombra box*/
/*
  .main-gallery:nth-child(1) {
    box-shadow: 1px 10px 10px #dbdbdb; 
 }*/
  
  /* small buttons, no circle */ /*
.flickity-prev-next-button {
    width: 50px;
    height: 50px;
    background: transparent;
  }

/* arrow color */                      /*verificar*//*
.flickity-prev-next-button .arrow {
    fill: white;
  }
  .flickity-prev-next-button.no-svg {
    color: white;
  }
  .flickity-prev-next-button:hover {
    background: transparent;
  }
/* white circles */                      /*verificar*/     /*                

.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
  }
  /* fill-in selected dot *//*
  .flickity-page-dots .dot.is-selected {
    background: white;
  }












    /*Imagem e título main*/
    #main img{
        display: none;
    }

    #main h1 {
        color: black;
        position: unset;
        bottom: unset;
        left: unset;
        margin: 66px 0 11px 35px;
    }

    .double-img-collum .legenda {
        display: none;
    }

    .double-img-collum img{
        display: none;
    }

    /*Serviços*/

    #serviços img{
        width: 37vw;
    }    
    
    #serviços h1 {
    margin: 45px 0 35px 0;
    }
    #serviços h2 {
    margin-bottom: 18px;
    }

    #serviços p {
    text-align: center;
    margin-top: 17px;
    margin-bottom: 6px;
    margin: 17px 7px 6px 7px;
    font-size: 13px;
    }

    .card {
        margin: unset;
        width: 48vw;
        height: 34vh;
    }

    #sobre {
        padding-bottom: 0;
    }
    #serviços {
        padding-bottom: 45px;
    }

    #arquitetos {
        margin-top: 0;
        padding-bottom: 45px;
    }

    #arquitetos h1{
        margin-top: 45px;
    }



}

@media (max-width: 322px) {
    .card {
        height: 35vh;
    }
}