* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#main-sobre {
    /*background-image: url(../assets/sobre-img1.jpg);*/

}


.text-title-horizontal {
    display: flex;
    flex-direction: row;
    width: 1097px;
    padding-bottom: 125px;
}


.double-text-title-horizontal {
    display: flex;
    flex-direction: column;
}

.text-title-img-horizontal h1 {
    text-align: left;
    width: 784px;
    margin: unset
}

.text-title-img-horizontal{
    display: flex;
    flex-direction: row;
}

.text-title-img-horizontal img {
    align-self: flex-start;
}

#sobre {
    padding-bottom:80px;
}

#sobre .content-box>p {
    padding: 125px 0 125px 0;
}

.double-img-collum {
    padding-top: 30px;
}

.double-img-collum-text {
    display: flex;
    flex-direction: column;
    width: 568px;
    padding-top: 60px;
}

.double-img-collum-text p {
    padding-bottom: 33px;
}

.content-box>p {
    padding-bottom: 125px;
}

.text-center { /* NOME DE .content-box no styles.css*/
    padding-top: 80px;
    max-width: 568px;
    align-self: center;
}

#serviços {
    padding-bottom: 80px;
}



#arquitetos {
    padding-bottom: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 60px;
}


#arquitetos h1 {
    text-align: unset;
    margin-bottom: 0;
}

#arquitetos p{
    width: unset;
    font-size: 16px;
}

#arquitetos h3 {
    color: black;
    padding-bottom: 25px;
} 

#arquitetos h3 span {
    color: black;
    font-family: 'Gayathri', sans-serif;
    padding-bottom: 8px;
    opacity: 65%;
    font-size: 16px;
} 

#arquitetos hr {
    width: 193px;
    height: 3px;
}


.formacao-arq {
    padding-top: 25px;
}

.card-arquiteto {
    display: flex;
    flex-direction: column;
    width: 193px;
    height: auto;
}

.card-arquiteto p {
    padding-top: 30px;
}
.card-arquiteto img {
    object-fit: cover;
}

.title-arquitetos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 48%;
}

@media (max-width: 953px) {
    #arquitetos {
        flex-direction: column;
        align-items: center;
    }

    #arquitetos>h1 {
        text-align: center;
    }

    .title-arquitetos {
        width: 100%;
        flex-wrap: wrap;

    }

    .card-arquiteto {
        margin: 10px;
    }
}

@media (max-width: 544px) {
    .title-arquitetos {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 425px) {
    /*Fontes*/
    h2 {
    font-size: 17px;
    }
    
    hr {
        height: 2px;
    }




    /*Imagem e título main*/
    #main img{
        display: none;
    }

    #main h1 {
        color: black;
        position: unset;
        bottom: unset;
        left: unset;
        margin: 125px 0 11px 35px;
    }

    .double-img-collum .legenda {
        display: none;
    }

    .double-img-collum img{
        display: none;
    }

    /*Serviços*/

    #serviços img{
        width: 37vw;
    }    
    
    #serviços h1 {
    margin: 45px 0 35px 0;
    }
    #serviços h2 {
    margin-bottom: 18px;
    }

    #serviços p {
    text-align: center;
    margin-top: 17px;
    margin-bottom: 6px;
    margin: 17px 7px 6px 7px;
    font-size: 13px;
    }

    .card {
        margin: unset;
        width: 48vw;
        height: 34vh;
    }


    #block-center-mob { /*Bloco de texto do text-title-block-center com correção de espaçamento*/
        padding: 0;
    }

    #textblock-mob  { /*Bloco de texto do double-img-collum e text-title-block-center com correção de espaçamento*/
        padding-top: 0;
    }       

    #sobre {
        padding-bottom: 0;
    }
    #serviços {
        padding-bottom: 45px;
    }

    #arquitetos {
        margin-top: 0;
        padding-bottom: 45px;
    }

    #arquitetos h1{
        margin-top: 45px;
    }



}

@media (max-width: 322px) {
    .card {
        height: 35vh;
    }
}