@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap');

/* ||TABLE OF CONTENTS||

1. typography
    1. style
    2. content box center
    3.left-title-text

2. imgs
    1.main primeira img
    2.img esquerda
    3.cards
      3.1 cards serviços
      3.2 cards mobile
    4.cards arquitetos
    5.projetos
    6.double-img-collum

3. components
    1.footer 
    2.buttons underlined

*/


/* || typography || */
/* |style| */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
  width: 100%;
}

ul, li {
    text-decoration: none;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Gayathri', sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 80px 0 64px 0;
  }
  
h1>span {
    text-transform: uppercase;
    font-family: 'Gayathri', sans-serif;
  }
  
h2 {
    font-size: 20px;
    text-align: center;
  }

h3 {
  font-size: 18px;
}

h4 {
  font-size: 18px;
}

p {
    font-size: 18px;
}

hr {
  max-width: 566px;
  width: 50%;
  min-width: 100px;
  margin: auto;
  height: 4px;
  background-color: black;
}

/* |content box center| */

.content-box { /* NOME DE .text-center sobre.css*/
    width: 811px;
    height: 150px;
   
  }

/*left-title-left*/

.left-title-text h1 {
  text-align: unset;
  margin: 0 0 26px 10px;
}

.left-title-text {
  display: flex;
  flex-direction: column;
  max-width: 843px;
  
}

.double-text-vertical {
  max-width: 568px;
  align-self: center;
}

.double-text-vertical p {
  padding: 0 0 30px 0;
  margin: 0 10px;
}



/* || box || */
/* |main| */
#main {
    /*height: 100vh;
    width: 100%;*/
    /*background-repeat: no-repeat;
    background-size: cover;*/
  }

#main img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

#main h1 {/* LEMBRAR DE COLOCAR PARA TEXTO ACOMPANHAR ATÉ A PARTE DEBAIXO DA IMG DO MAIN*/
  position: absolute;
  left: 114px;
  bottom: 10vh;
  margin: 0;
  text-align: left;
  color: white;
  
}

.title-main {
 /* display: flex;
  flex-direction: column;
  position: absolute;
  bottom:15vh;
  margin: 100px;
  text-align: left;
  color: white;*/

}

/*Sliders*/



.text-title-block-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 835px;
  margin: auto;
  padding: 60px 0;
}


/* |img esquerda| */

.img-esquerda-box p{
    padding-left: 117px;
    padding-right: 117px;
}

.img-esquerda-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 398px;
}

/* |cards| */
/* cards serviços */
.grupo-cards {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 266px;
    height: 460px;
    box-shadow: 1px 10px 10px #DBDBDB ;
    margin: 15px;
  }

  .card img {
    width: 217px;
  }
  
  #serviços h2 {
    text-align: center;
    margin-bottom: 39px;
    padding-top: 18px;
  }
  
  #serviços p {
    text-align: center;
    margin-top: 62px;
    margin-bottom: 6px;
  }

  #card-titulo-menor {

  }

  #card-titulo-menor h2 {
    margin-bottom: 67px;
  }

/* cards arquitetos */

/* projetos */

/* |double-img-collum| */
.double-img-collum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legenda {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 843px;
  width: 100%;
  padding: 0 10px;

}
.legenda p {
  margin: 0 10px;
  align-self: left;
}


.double-img-collum p>span {
  word-spacing: 40px;
}

.double-img-collum img {
  max-width: 843px;
  width: 100%;
  min-height: 268px;
  object-fit: cover;
}

.double-img-collum>p {
  width: 568px;
  padding-top: 60px;
}

/* || components || */
/* |footer| */

#footer {
  background: black;
}

#footer p, h3, h4 {
  color: white;
}

#footer h2 {
  font-family: 'Gayathri', sans-serif;
}

#footer a {
  position: unset;
  text-decoration: unset;
  font-size: 18px;
}

.paginas-footer {
  width: 100%;
  max-width: 835px;
  justify-content: space-between;
  text-align-last: justify;
}

.paginas-footer a {
  /*padding: 15px;*/
}


.textos-img-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
}

/*infos esquerda footer*/ /*SÃO OS BOTOES DE NAV DO FOOTER*/
.infos-esquerda-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.block-sp {
  display: flex;
  flex-direction: row;
  min-width: 170px;
  justify-content: space-between;
  opacity: 75%;
  align-self: center;
}

.block-sp-collum p{
  font-size: 12px;
}

.vl-menor {
  border-left: 2px solid white;
  height: 37px;
}

.logo-img-footer {
  align-self: center;
}

/*infos direita footer*/ /*FALE CONOSCO + COLABORADORES*/
.infos-direita-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 0 30px 0;
  max-width: 835px;
  width: 100%;
}

.infos-direita-footer h3 {
  padding-top: 10px;
}

/*fale conosco*/
.fale-conosco {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 280px;
  align-content: center;
}

.icones-text {
  display: flex;
}

.icones-text img{
  padding-right: 15px;
}

.grupo-icones-text {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-content: center;
  opacity: 75%;
}

.celulares {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 60px;
  align-content: center;
}

.title-celulares {
  opacity: 75%;
}

/*icon-btn*/


/*linha vertical maior*/
.vl-maior {
  border-left: 3px solid white;
  height: 308px;
  margin: 0px 30px;
  opacity: 75%;
}

#footer hr {
  background-color: white;
  opacity: 75%;
  margin: 30px 0;
  display: none;
  align-self: center;
  max-width: 566px;
  width: 50%;
  min-width: 100px;
}

/*colaboradores*/

.colaboradores h3 {
  padding: 0 0 37px 0;
}

.info-colaborador {
  display: flex;
  flex-direction: row;

}
.logo-colaborador {
  padding-right: 15px;
}

.logo-colaborador img {
  width: 28px;
}

.sem-logo-colaborador {
  width: 43px;
}
.text-colaborador p>span {
  word-spacing: 15px;
}

.text-colaborador p{
  padding-bottom: 10px;
}

.text-colaborador img {
  padding:0 10px 20px 0;
}

.grupo-colaboradores {
  opacity: 75%;
}

/*ultimas infos footer*/ /*block SP + logo*/
.infos-ultimas-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* |buttons underlined| */

a, a:visited {
    appearance: none;
    text-decoration: auto;
    text-decoration: underline;
    color: white;
}

#contato #button  {
  padding-top: 10px;
}



@media (max-width: 911px) {
  .infos-direita-footer {
    flex-direction: column;
  }
  .infos-direita-footer .vl-maior{
    display: none;
  }

  #footer hr {
    display: block;
  }
}

@media (max-width: 592px) {
  .legenda {
    flex-direction: column;
    margin-bottom: 45px;
  }
}

@media (max-width: 538px) {


  #footer a {
    font-size: 14px;
  }

  #footer p {
    font-size: 14px;
  }

  #main h1 {
    left: 10px;
  }
}

@media (max-width: 478px) { 

p {
  font-size: 16px;
}


/*Correção de margem*/
.left-title-text h1 {
  margin: 0 0 26px 35px;
}

.double-text-vertical p {
  margin: 0 35px;
}

.legenda {
  padding: 0 25px;
}

.legenda p {
  margin: 0 35px;
}

.textos-img-footer {
  padding: 30px 25px;
}

.text-colaborador img {
  padding:0 25px 20px 0;
}

#main h1 {
  left: 35px;
}
}

/*Mínimo de tela*/

@media (max-width: 232px) {

}



